.notes {
  &__main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__appbar {
    align-items: center;
    background-color: $primary;
    color: $white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
  }

  &__title-input,
  &__textarea {
    border: 0;
    margin-bottom: 10px;
  }

  &__title-input {
    color: $dark-grey;
    font-size: 25px;
    font-weight: bold;
    // margin-bottom: 10px;
  }

  &__textarea {
    color: $dark-grey;
    font-size: 20px;
    flex: 1 1 auto;
    resize: none;
  }

  &__image {
    img {
      box-shadow: 5px 5px $dark-grey;
      height: 200px;
    }
  }
}
